* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #1e0555;
}

body,
quote-input {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  background-color: yellow;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 600px;
  max-width: 90%;
}
